APP_NAME=Kiirus Automation
ENV=development
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_REGION=us-east-1
SES_SENDER_EMAIL=your_sender_email@example.com
SES_SENDER_NAME=YourAppName
